LDReaderWorkspace.xcworkspace/xcuserdata/
LDReader/LDReader.xcodeproj/xcuserdata/
LDReader/LDReader.xcodeproj/project.xcworkspace/xcuserdata/
LDReaderDemo/LDReaderDemo.xcodeproj/xcuserdata/
LDReaderDemo/LDReaderDemo.xcodeproj/project.xcworkspace/xcuserdata/
OOReader/.DS_Store
OOReaderDemo/.DS_Store
.DS_Store
*/.DS_Store
